$main-color: rgb(204, 89, 89);


@mixin tablet-large {
    @media (min-width: 768px) {
        @content;        
    }
}
@mixin desktop {
    @media (min-width: 1025px) {
        @content;        
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Titillium Web', sans-serif;
}

@import 'partials/background1';
@import 'partials/nav';
@import 'partials/planet';