
.about-flex-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .col {
        font-size: 1.4rem;
        display:flex;
        flex-direction: column;
        border: 4px dashed $main-color;
        background-color: lighten($main-color, 10%);
        opacity: .9;
        @include desktop {
            flex-direction: row;
            justify-content: center;
        }
        >p {
            font-size: 2rem;
            margin-bottom: 20px;
            padding: 15px 35px;
            letter-spacing: 10px;
            max-width: 200px;
        }
        span {
            color: white;
            
        }
        img {
            width: 64px;
            height: 64px;
            margin-right: 20px;
        }
        .flex-row {
            max-width: 600px;
            display: flex;
            text-align: justify;
            background-color: white;
        p {
            padding: 25px 35px;
        }
        }
    }
}