
// styles both form and blank-event elements


section.new-flex-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url('../images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // form styling 

        .form-container {
            margin: 30px;
            height: 500px;
            border: 1px solid lightgray;
            background-color: white;
            // opacity: .9;
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            position: relative;
            h3 {
                padding: 5px 15px;
                margin-bottom: 5px;
                color: $main-color;
            }
            p {
                margin-left: 10px;
                font-size: 1em;
                }
            label {
                margin: 10px;
                }
            input {
                min-width: 386px;
                padding: 5px;
                margin: 5px 25px;
                border: 1px double lightgray;
            }
            .eventLocation {
                min-width: 140px;
                padding: 5px;
                margin-right: 0;
            }
            textarea {
                min-width: 386px;
                max-width: 500px;
                min-height: 42px;
                max-height: 180px;
                padding: 5px;
                margin: 5px 25px;
                border: 1px double lightgray;
            }
            div {
                // display:inline;
            .DayPickerInput {
                display: inline-block;
                input {
                    min-width:180px;
                    padding: 2.5px 5px;
                    margin-right: 0px;
                    font-family: 'Titillium Web', sans-serif;
                }
            }
            .DayPickerInput-OverlayWrapper {
                position: relative;
                left: 25px;
                top: -350px;
              }
        }
                .eventHour {
                    min-width: 100px;
                }
                .eventCategory {
                    margin-left: 30px;
                    color: $main-color;
                    border: 1px dotted lightgray;
                }
                .eventSubmit {
                    padding: 15px;
                    margin-top: 30px;
                    background-color: $main-color;
                    border: 1px dotted lightgray;
                }
                select {
                    padding: 5px;
                    margin-top: 10px;
                }
        }
        
        

        // new event styling

        // h1 {
        //     color: white;
        //     font-weight: 500;
        //     font-size: 2rem;
        //     position: relative;
        //     margin-top: 50px;
        //     &::before {
        //         content: '';
        //         background-color: white;
        //         // opacity: .5;
        //         width: 46px;
        //         height: 46px; 
        //         border-radius: 50%;
        //         position: absolute;
        //         bottom: 4px;
        //         right: -59px;
        //         z-index: 1;
        //     }
        //     .scope-icon {
        //         position: absolute;
        //         margin-left: 15px;
        //         width: 40px;
        //         height: 40px;
        //         z-index: 2;
        //     }
        // }
        .event-box {
            margin: 30px;
            margin-top: 70px;
            max-width: 380px;
            height: 450px;
            border: 1px solid lightgray;
            display:flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            position: relative;
            &:hover .event-description {
                display: block;
            }
            &:hover .category {
                display: none;
            }
            &:hover::before {
                display: none;
            }
            img {
                width: 378px;
                height: 280px;
            }
            .event-description {
                background-color: white;
                width: 378px;
                height: 280px;
                position: absolute;
                top:0;
                left:0;
                font-size: 1.3em;
                display:none;
                z-index: 2;
                opacity: .8;
                p {
                    margin: 5px 15px;
                }
                p:first-child {
                    font-size: 1.4em;
                    color: $main-color;
                }
            }
            .category {
                width: 66px;
                height: 66px;
                position: absolute;
                top: -33px;
                left: -33px;
            }
                &::before {
                    content: '';
                    background-color: white;
                    opacity: .5;
                    width: 84px;
                    height: 84px; 
                    border-radius: 50%;
                    position: absolute;
                    top: -42px;
                    left: -42px;
            }
            .event-bkg {
                background-color: white;
                height: 132px;
                border-top: 2px solid $main-color;
                img {
                    width: 16px;
                    height: 16px;
                    margin-left: 10px;
                }
                span {
                    font-size: 1.2rem;
                    margin-left: 10px;
                }
                span:first-child {
                    font-size: 1.4rem;
                    color: darken($main-color, 5%);
                }
                .location2 {
                    margin-left: 36px;
                }
            }
            .event-bkg2 {
                display:flex;
                align-items: center;
                flex-wrap: wrap;
                background-color: white;
                height: 36px;
                border-top: 2px solid $main-color;
                img {
                    width: 22px;
                    height: 22px;
                    margin-top: 5px;
                    margin-left: 10px;
                    transform: rotateY(180deg);
                }
                span {
                    font-size: 1.2rem;
                    margin-left: 10px;
                }
            }
        }
    }
}

