
// styles both form and blank-event elements

section.new-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background-image: url("../images/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include desktop {
        flex-direction: initial;
    }
    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // form styling 

        .form-container {
            margin-top: 65px;
            margin-bottom: 10px;
            min-height: 500px;
            border: 1px solid lightgray;
            background-color: white;
            // opacity: .9;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            position: relative;
            h3 {
                padding: 5px 15px;
                margin-bottom: 5px;
                color: $main-color;
            }
            p {
                margin-left: 10px;
                font-size: 1em;
            }
            label {
                margin: 10px;
            }
            input {
                min-width: 386px;
                padding: 5px;
                margin: 5px 25px;
                border: 1px double lightgray;
            }
            .event-location {
                min-width: 140px;
                padding: 5px;
                margin-right: 0;
            }
            textarea {
                min-width: 386px;
                max-width: 500px;
                min-height: 42px;
                max-height: 180px;
                padding: 5px;
                margin: 5px 25px;
                border: 1px double lightgray;
            }
            div {
                // display:inline;
                .DayPickerInput {
                    display: inline-block;
                    input {
                        min-width: 180px;
                        padding: 2.5px 5px;
                        margin-right: 0;
                        font-family: 'Titillium Web', sans-serif;
                    }
                }
                .DayPickerInput-OverlayWrapper {
                    position: relative;
                    left: 25px;
                    top: -350px;
                }
            }
            .event-hour {
                min-width: 100px;
            }
            .event-category {
                margin-left: 30px;
                color: $main-color;
                border: 1px dotted lightgray;
            }
            .event-submit {
                padding: 10px;
                margin-top: 15px;
                margin-bottom: 15px;
                background-color: $main-color;
                border: 4px double white;
                color: white;
                font-size: 1.1rem;
                transition: all 1s;
                &:hover {
                    transition: 1s;
                    color: $main-color;
                    background-color: white;
                    border: 4px double $main-color;
                }
            }
            select {
                padding: 5px;
                margin-top: 10px;
            }
        }

        .event-box {
            margin: 70px 30px 30px;
            max-width: 380px;
            height: 450px;
            border: 1px solid lightgray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            position: relative;
            opacity: 1;
            transition: opacity 500ms;
            &:hover .event-description {
                display: block;
            }
            &:hover .category {
                opacity: 0;
                transition: 1s;
            }
            &:hover::before {
                opacity: 0;
                transition: 1s;
            }
            img {
                width: 378px;
                height: 280px;
            }
            .event-description {
                background-color: white;
                width: 378px;
                height: 280px;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 1.2em;
                display: none;
                z-index: 2;
                opacity: 0.8;
                .description-col {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    position: relative;
                    p {
                        margin: 1px 15px;
                        text-align: justify;
                        overflow: auto;
                    }
                    .description {
                        font-family: 'Titillium Web', sans-serif;
                        margin: 1px 15px;
                        text-align: justify;
                        white-space: normal;
                        font-size: 1.1rem;
                        border: none;
                        background-color: transparent;
                        max-height: 230px;
                        max-width: 350px;
                        min-height: 230px;
                        min-width: 350px;
                    }
                    p:first-child {
                        font-size: 1.4em;
                        color: $main-color;
                    }
                    .event-btn {
                        display: none;
                        align-items: center;
                        justify-content: space-around;
                        border: 1px solid $main-color;
                        width: 100px;
                        height: 50px;
                        position: absolute;
                        top: -52px;
                        right: 99px;
                        opacity: 0.9;
                        img {
                            height: 32px;
                            width: 32px;
                        }
                        span {
                            font-size: 1.2rem;
                        }
                    }
                    .event-btn:nth-child(2n) {
                        right: -1px;
                    }
                }
            }
            .delete-confirm {
                display: none;
            }
            .category {
                width: 66px;
                height: 66px;
                position: absolute;
                top: -33px;
                left: -33px;
            }
            &::before {
                content: '';
                background-color: white;
                opacity: 0.5;
                width: 84px;
                height: 84px;
                border-radius: 50%;
                position: absolute;
                top: -42px;
                left: -42px;
            }
            .event-bkg {
                background-color: white;
                height: 132px;
                border-top: 2px solid $main-color;
                img {
                    width: 16px;
                    height: 16px;
                    margin-left: 10px;
                }
                span {
                    font-size: 1.2rem;
                    // margin-left: 10px;
                }
                input {
                    font-size: 1.2rem;
                    margin-left: 10px;
                    border: none;
                    background-color: transparent;
                }
                .title {
                    font-size: 1.4rem;
                    color: darken($main-color, 5%);
                    border: none;
                    background-color: transparent;
                    width: 350px;
                }
                .date {
                    width: 110px;
                }
                .hour {
                    width: 110px;
                    margin-left: 15px;
                }
                .location2 {
                    margin-left: 37px;
                }
            }
            .event-bkg2 {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                background-color: white;
                height: 36px;
                border-top: 2px solid $main-color;
                img {
                    width: 22px;
                    height: 22px;
                    margin-top: 5px;
                    margin-left: 10px;
                    transform: rotateY(180deg);
                }
                input {
                    font-size: 1.2rem;
                    margin-left: 10px;
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }
}
