

section.flex-container {
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px dashed white;
    height: 80vh;
    .col {
        display:flex;        
        flex-direction: column;
        align-items: center;
        img {
            width: 256px;
            height: 256px;
            animation: rotate 900ms infinite alternate;
            animation-timing-function: linear;
        }
        span {
           font-size: 1.5rem; 
           padding: 5px;
        }
    }
}

@keyframes rotate {
    0% {transform: scale(1);}
    100% {transform: scale(1.02);}
}