

section.flex-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .col {
        .planet-bkg {
            background-color: white;
            width: 400px;
            height: 400px;
            opacity: 0.9;
            border-radius: 50%;
            display:flex;        
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 256px;
                height: 256px;
                animation: rotate 900ms infinite alternate;
                animation-timing-function: linear;
            }
            span {
            font-size: 2rem; 
            padding: 5px;
            color: rgb(63, 63, 63)
            }
        }
        .planet-bkg-small {
            background-color: white;
            width: 150px;
            height: 150px;
            opacity: 0.9;
            border-radius: 50%;
            display:flex;        
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 96px;
                height: 96px;
            }
            span {
            font-size: 1rem; 
            padding: 5px;
            color: rgb(63, 63, 63)
            }
        }
    }
}

@keyframes rotate {
    0% {transform: scale(1);}
    100% {transform: scale(1.02);}
}