

section.flex-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include desktop {
        justify-content: center;
        align-items: center;
        flex-direction: initial;
    }
    .col:first-child {
        display:flex;
        order: 2;
        @include desktop {
        order: initial;
        }
    }
    .col {
        .planets {
            display:flex;
            @include desktop {
                display:initial;
            }
            #button2 {
                margin-right: 40px;
            }
        }
        .planet-bkg {
            background-color: white;
            border: 5px double $main-color;
            width: 360px;
            height: 360px;
            opacity: 0.9;
            border-radius: 50%;
            display:flex;        
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            @include desktop {
                width: 420px;
                height: 420px;
            }
            img {
                width: 192px;
                height: 192px;
                animation: rotate 900ms infinite alternate;
                animation-timing-function: linear;
                @include desktop {
                    width: 256px;
                    height: 256px;
                }
            }
            p {
                font-size: 1.8rem; 
                padding: 5px;
                color: rgb(63, 63, 63);
                }
            .search-box-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                width: 220px;
                .search-box {
                    border: none;
                    padding: 5px 15px;
                    font-size: 1.1rem; 
                    // margin-bottom: 5px;
                    font-family: 'Titillium Web', sans-serif;
                    width: 220px;
                    &:focus {
                        outline: 1px dashed $main-color;
                        color: $main-color;
                    }
                }
                .search-submit {
                    border: 3px double $main-color;
                    background-color: white;
                    width: 90px;
                    height: 40px;
                    font-size: 1rem;
                    color:rgb(102, 97, 97);
                    letter-spacing: 1px;
                    &:hover{
                        background-color: $main-color;
                        border: 4px double white;
                        color: white;
                    }
                }
                    
            }
            span {
            color: $main-color;
            &:hover {
                color: rgb(216, 0, 0);
            }
            }
            .shrink {
                animation: shrink 700ms 1 forward;
            }
        }
        .planet-bkg-small {
            background-color: white;
            width: 160px;
            height: 160px;
            opacity: 0.9;
            border-radius: 50%;
            border: 3px double lighten($main-color,20%);
            margin: 15px 20px;
            display:flex;        
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            &:hover {
                cursor: pointer;
                opacity: 1;
                border-color: darken($main-color, 10%);
            }
            img {
                width: 64px;
                height: 64px;
            }
            p {
            margin: 0 25px;
            color: rgb(63, 63, 63);
            }
        }
    }
}


@keyframes rotate {
    0% {transform: scale(1);}
    100% {transform: scale(1.02);}
}

@keyframes shrink {
    0% {transform: scale(1);}
    100% {transform: scale(0.7);}
}